plumenote.cpam92.local {
    reverse_proxy plumenote-app:8080

    encode gzip

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }
}
